.todos {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  width: 100%;
}

.table > thead {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.table > thead,
.table > tbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container-trs-head > th {
  text-align: center;
  padding: 1rem 0;
  width: 20rem;
}

.container-trs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.container-trs > td {
  padding: 1rem 0;
  text-align: center;

  width: 20rem;
}

.delete-btn {
  background-color: rgb(207, 166, 70);
  border: none;
}

.delete-btn:hover {
  background-color: rgb(219, 190, 124);
  border: none;
}

.update-btn {
  background-color: rgb(36, 111, 36);
  border: none;
}

.update-btn:hover {
  background-color: rgb(133, 205, 133);
  border: none;
}

.success {
  color: rgb(83, 205, 83);
}

.failed {
  color: rgb(209, 80, 80);
}
